@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-pr: #6c63ff;
  --color-pr-light: #a5b4fc;
  --color-pr-dark: #4a41e7;
  --color-dark: #2e2e2e;
  --color-sc: #a5b4fc;

  --color-success: rgb(16 185 129);
  --color-warning: rgb(245 158 11);

  --color-light-gray: #e5e7eb;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
